.container{
    margin-bottom: 20px
}
.top-banner{
    background: #b3dab3; 
    padding-top: 150px;
    padding-bottom: 50px;
    
}

.button{
    background-color:#0f814e;
    border: 1px black solid;
    border-radius: 15px;
    text-decoration: none;
    color: black;
    transition: .4s;
}
.button:hover{
    transform: scale(1.1);
    color: white;
    
}

.navbar-light{
    background-color: #F0FFF0;;
}

.token{
    width: 250px;
    border: 2px solid white;
    margin: 10px;
    box-shadow: 0 0 10px lightslategray;   
}
.token-image{
    width: 100px;
    height: 130px;
}
.icon-style{
    width: 30px;
    height: 30px;
}
.card{
    
    box-shadow: 5px 2px 20px lightgray;
}
.card-footer{
    box-shadow: 0 0 5px lightgray;
}
.testomonial img{
    height: 100px;
    width: 100px;
    
}
.testomonial{
    height: 250px;
    margin-top: 30px;
    
}

footer{
    background-color: rgb(10, 9, 9);
}
